<h1>home page</h1>
<p>deu certo: vemos o hello word</p>
<p>O nome do usuário é: <strong>{{user.name}}</strong> <strong>{{user.subname}}</strong> e {{user.age}} anos.</p>
{{#if auth}}
<h3>Você está autenticado, <a href="/dashboard">click aqui</a>  pra acessar a área de membros.</h3>
{{/if}}